.app {
  display: flex;
  height: 100vh;
  margin-left: 20%;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  margin: 60px;
  font-family: "SF Pro Display", sans-serif;
  color: #202223;
}

h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-left: 15px;
}

.add-product-btn {
  width: 192px;
  height: 48px;
  border: 2px solid #008060;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #008060;
  align-self: flex-end;
  flex-shrink: 0;
}
